.DS_Store
node_modules
dist
docs

# Editor configurations
.vscode
.idea
*.iml

# Yarn. Not using Zero-Installs
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
